{% extends 'home_base.html.twig' %}

{% block title %}{% trans %}profile_title{% endtrans %}{% endblock %}

{% block specific_javascripts %}
        <script src="{{ asset('assets/js/profile.js') }}"></script>
        <script src="{{ asset('assets/js/payments.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% trans %}profile_user_profile{% endtrans %}</h1>
    </div>
    </div>
  </div>  

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>{{ app.user.getEmail() }}</h3>
      </div>
      </div>
    </div>  

  <hr>

  <div class="container">
  
    <form id="profileForm" action="#" method="POST">
      <input name="f_email" style="display:none" value="" type="email" />
      <input name="f_password" style="display:none" value="" type="password" />
      <div class="form-group">
        <label for="username">{% trans %}profile_username{% endtrans %}</label>
        <input type="text" class="form-control" id="username" name="username" autocomplete="do-not-autofill" value="{% if app.user.getUsername() != '' %}{{ app.user.getUsername() }}{% endif %}" required>
      </div>
      <div class="form-group">
        <label for="userPassword">{% trans %}profile_password{% endtrans %} <i>({% trans %}profile_password_explanation{% endtrans %})</i></label>
        <input type="password" class="form-control" id="userPassword" name="userPassword" autocomplete="new-password">
      </div>
      <div class="form-group">
        <label for="userPassword2">{% trans %}profile_repeat_password{% endtrans %}</label>
        <input type="password" class="form-control" id="userPassword2" placeholder="">
      </div>
      <div class="form-group">
        <label for="motherTongue">{% trans %}profile_your_language{% endtrans %}</label>
        <select class="form-control" id="motherTongue" name="motherTongue" required>
          {% for language in languages %}
            <option value="{{language.code}}" {% if (language.code == app.user.getMotherTongue().code) %}selected{% endif %}>{{ language.origName }}</option>
          {% endfor %}
        </select>
      </div>
      <hr>
      <div class="profile_part">
        <div class="form-group">
        <i>({% trans %}profile_financial_explanation{% endtrans %})</i>
        </div>
        <div class="form-group">
          <label for="userFirstname">{% trans %}profile_firstname{% endtrans %}</label>
          <input type="text" class="form-control" id="userFirstname" placeholder="" value="{% if app.user.getName() != '' %}{{ app.user.getName() }}{% endif %}">
        </div>
        <div class="form-group">
          <label for="userSurname">{% trans %}profile_surname{% endtrans %}</label>
          <input type="text" class="form-control" id="userSurname" placeholder="" value="{% if app.user.getSurname() != '' %}{{ app.user.getSurname() }}{% endif %}">
        </div>
        <div class="form-group">
          <label for="userIdNumber">{% trans %}profile_company{% endtrans %} <i>({% trans %}profile_company_explanation{% endtrans %})</i></label>
          <input type="text" class="form-control" id="userCompany" placeholder="" value="{% if app.user.getCompany() != '' %}{{ app.user.getCompany() }}{% endif %}">
        </div>
        <div class="form-group">
          <i>({% trans %}profile_user_id_number_explanation{% endtrans %})</i><br>
          <label for="userIdNumber">{% trans %}profile_user_id_number{% endtrans %}</label>
          <input type="text" class="form-control" id="userIdNumber" placeholder="" value="{% if app.user.getIdentificationNumber() != '' %}{{ app.user.getIdentificationNumber() }}{% endif %}">
        </div>
        <div class="form-group">
          <label for="userAddress">{% trans %}profile_address{% endtrans %}</label>
          <input type="text" class="form-control" id="userAddress" placeholder="" value="{% if app.user.getAddress() != '' %}{{ app.user.getAddress() }}{% endif %}">
        </div>
        <div class="form-group">
          <label for="userZipCode">{% trans %}profile_zip_code{% endtrans %}</label>
          <input type="text" class="form-control" id="userZipCode" placeholder="" value="{% if app.user.getZipCode() != '' %}{{ app.user.getZipCode() }}{% endif %}">
        </div>
        <div class="form-group">
          <label for="userCity">{% trans %}profile_city{% endtrans %}</label>
          <input type="text" class="form-control" id="userCity" placeholder="" value="{% if app.user.getCity() != '' %}{{ app.user.getCity() }}{% endif %}">
        </div>
        <div class="form-group">
          <label for="userRegion">{% trans %}profile_region{% endtrans %}</label>
          <input type="text" class="form-control" id="userRegion" placeholder="" value="{% if app.user.getRegion() != '' %}{{ app.user.getRegion() }}{% endif %}">
        </div>
        <div class="form-group">
          <label for="userCountry">{% trans %}profile_country{% endtrans %}</label>
          <input type="text" class="form-control" id="userCountry" placeholder=""  value="{% if app.user.getCountry() != '' %}{{ app.user.getCountry() }}{% endif %}">
        </div>
        <br>
        <input type="hidden" id="userUuid" value="{{ app.user.getUuid() }}">
        <input type="hidden" id="route" value="{{ url('app_save_profile') }}">
        <input type="hidden" id="paymentInfoIsCompleteRoute" value="{{ url('app_payment_info_is_complete') }}">
      </div>
      <button id="btn_save" type="submit" class="btn btn-marron">{% trans %}profile_btn_save{% endtrans %}</button>
      </form>
    <hr>
    <div class="payments_part">
      {% include 'profile/payments.html.twig' %}
    </div>
    <br><br>
  
    <div style="display:none" id="username_error_message">{% trans %}register_username_error_message{% endtrans %}</div>
    <div style="display:none" id="password_error_message">{% trans %}register_password_error_message{% endtrans %}</div>
    <div style="display:none" id="passwords_must_match">{% trans %}register_passwords_must_match{% endtrans %}</div>
    <div style="display:none" id="profile_error_saving">{% trans %}profile_error_saving{% endtrans %}</div>
    <div style="display:none" id="profile_saved_correctly">{% trans %}profile_saved_correctly{% endtrans %}</div>
    <div style="display:none" id="payments_error_need_info">{% trans %}payments_error_need_info{% endtrans %}</div>
  
  </div>

{% endblock %}
