<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>{% trans %}payments_title{% endtrans %}</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            {% trans %}payments_full_access_bool{% endtrans %}: 
            {% if (app.user.isVipProper()) %}
                <b>{% trans %}yes{% endtrans %}</b>
            {% else %}
                <b>{% trans %}no{% endtrans %}</b>
            {% endif %}
        </div>
    </div>
</div>

{% if (app.user.isVipProper()) %}



{% else %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% trans %}payments_full_access_one_month{% endtrans %}<br>
                <div class="green_letters">{% trans %}payments_pay_10_euro{% endtrans %}</div>
                <br>
                <div id="paypal_checkout" style="display:none"><br>
                    {% include 'profile/paypal_checkout.html.twig' %}
                <br></div>
                <div id="payments_error_need_info_div" class="error_div" style="display:none">
                    {% trans %}payments_error_need_info{% endtrans %}
                </div>
            </div>
        </div>
    </div>

    {% include 'profile/payments_list.html.twig' %}

{% endif %}

