<div id="paypal-button-container-P-2PJ04017Y3400420AMK7OTWI"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AWMubt-sHXn01oRfFozP-UD8GuM64_Z_WHqihHfCktfcpp0a8nbnZmbeFhl6V8QIKKzaG1a21y8C6NAx&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'pill',
          color: 'gold',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-2PJ04017Y3400420AMK7OTWI'
        });
      },
      onApprove: function(data, actions) {
        alert(data.subscriptionID); // You can add optional success message for the subscriber here
      }
  }).render('#paypal-button-container-P-2PJ04017Y3400420AMK7OTWI'); // Renders the PayPal button
</script>