{% extends 'prehome_base.html.twig' %}

{% block title %}{% trans %}login_title{% endtrans %}{% endblock %}

{% block specific_javascripts %}
        <script src="{{ asset('assets/js/login.js') }}"></script>
{% endblock %}

{% block body %}
<br><br>
<div class="container">
    <div class="row">
        <form method="post">
            <input name="f_email" style="display:none" value="" type="email" />
            <input name="f_password" style="display:none" value="" type="password" />

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    {% trans %}login_you_are_logged_in_as{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}btn_logout{% endtrans %}</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">{% trans %}login_intro{% endtrans %}</h1>
            <label for="inputEmail">{% trans %}login_email{% endtrans %}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="do-not-autofill" required autofocus>
            <label for="inputPassword">{% trans %}login_password{% endtrans %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="new-password" required>

            <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> {% trans %}login_remember_me{% endtrans %}
                </label>
            </div>

            <button class="btn btn-lg btn-marron" type="submit">
                {% trans %}btn_signin{% endtrans %}
            </button>

            <hr>
            <a href="{{url('recover_password')}}"class="btn btn-lg btn-secondary" type="button" id="btn_recover_password">
                {% trans %}btn_forgot_password{% endtrans %}
            </a>
        </form>
        <div style="display:none" id="enter_a_valid_email">{% trans %}enter_a_valid_email{% endtrans %}</div>
        <div style="display:none" id="recover_password_email_sent">{% trans %}recover_password_email_sent{% endtrans %}</div>
        <div style="display:none" id="recover_password_no_such_email">{% trans %}recover_password_no_such_mail{% endtrans %}</div>
        <div style="display:none" id="recover_password_already_requested">{% trans %}recover_password_already_requested{% endtrans %}</div>
    </div>
</div>
{% endblock %}
