{% extends "mails/mail_base.html.twig" %}

{% block mailContent %}
{% trans %}activate_profile{% endtrans %} : <br>

<a href="{{ activationLink }}" target="_blank">{{ activationLink }}</a>
{% endblock %}