{% extends "base.html.twig" %}

{% block body %}

<div style="background-color: #f2d541; width: 100%; text-align: center; padding:10px">drillia.org</div>

<div style="width:100%; padding:20px; color:black">
{% block mailContent %}{% endblock%}
</div>

{% endblock body %}
