* {
    font-family: 'Noto Sans', sans-serif;
}

.barra-nav {
    background-color: #f2d541 !important;
}

.btn-marron {
    background-color: #5c4a2a !important;
    color: white;
}

.btn-marron:hover {
    color: #f7daa6 !important;
}

.error_div {
    background-color: #F8D0C1 !important;
    color: #A22E03 !important;
    border-radius: 5px;
    padding:10px;
}

.footer {
    background-color: #f7ecb5;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
  }
  
.green_letters {
    color: #43994C !important;
}

.jumbo-drillia {
    background-color: #f7ecb5 !important;
}

.payments_part {
    background-color: #F9E492 !important;
    padding:10px;
    border-radius:5px;
    margin-bottom: 20px;
}

.profile_part {
    background-color: #EFEEEA !important;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sitelogo {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right:10px;
    border-radius: 50%;
}