{%extends '@EasyAdmin/page/content.html.twig' %}

{% block body %}
    <h1>Drillia - Admin</h1>
    <ul>
        <li><a href='admin/language' target='_blank'>Language</a></li>
        <li><a href='admin/tag' target='_blank'>Tag</a></li>
        <li><a href='admin/uw' target='_blank'>Universal word (uw)</a></li>
        <li><a href='admin/paradigm' target='_blank'>Paradigm</a></li>
        <li><a href='admin/word' target='_blank'>Word</a></li>
        <li><a href='admin/uwword' target='_blank'>Uw-word relation</a></li>
        <li><a href='admin/us' target='_blank'>Universal sentence (us)</a></li>
    </ul>
{% endblock %}