{% extends "base.html.twig" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light barra-nav">
  <a class="navbar-brand" href="#"><img src="{{asset('assets/img/logodrillia.png')}}" class="sitelogo">drillia.org</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{url('app_home')}}"><i class="fa-solid fa-book"></i> {% trans %}navbar_courses{% endtrans %}</a>
      <a class="nav-item nav-link" href="{{url('app_profile')}}"><i class="fa-solid fa-user"></i> {% trans %}navbar_profile{% endtrans %}</a>
      <a class="nav-item nav-link" href="{{url('app_logout')}}"><i class="fa-solid fa-right-from-bracket"></i> {% trans %}navbar_logout{% endtrans %}</a>
    </div>
  </div>
</nav>
<script>
$(function () {
  const getUrl = window.location;
  const baseUrl = getUrl .protocol + "//" + getUrl.host;
  $('a.active').removeClass('active');
  $('a[href="' + baseUrl + location.pathname + '"]').addClass('active'); 
  
});
</script>
{% endblock %}
{% block topspaces %}<br><br>{% endblock %}