{% extends "home_base.html.twig" %}

{% block title %}Drillia{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      Home drillia.
    </div>
  </div>
</div>
{% endblock %}