{% extends "prehome_base.html.twig" %}

{% block title %}{% trans %}password_change_result_ok_title{% endtrans %}{% endblock %}

{% block body %}

<br><br>

<div class="container">
{{ message }}<br><br>
{% trans %}user{% endtrans %}: <i>{{ email }}</i>
</div>

<hr>

<div class="container">
  <a type="button" class="btn btn-marron" href="{{url('app_login')}}">
    {% trans %}btn_login{% endtrans %}
  </a>
</div>
 
{% endblock %}