{% extends "prehome_base.html.twig" %}

{% block title %}{% trans %}password_change_screen_ok_title{% endtrans %}{% endblock %}

{% block specific_javascripts %}
        <script src="{{ asset('assets/js/password_change.js') }}"></script>
{% endblock %}

{% block body %}

<div class="jumbotron jumbo-drillia">
  <div class="container">
    <h2 class="display-4">{% trans %}password_change_screen_ok_title{% endtrans %}</h2>
  </div>
</div>


<div class="container">

{{ message }}<br><br>
{% trans %}user{% endtrans %}: <i>{{ email }}</i>
<br><br>

</div>

<div class="container">

  <form id="passwordChangeForm" action="{{url('change_password')}}" method="POST">
    <input name="f_password" style="display:none" value="" type="password" />
    <div class="form-group">
      <label for="userPassword">{% trans %}new_password{% endtrans %}</label>
      <input type="password" class="form-control" id="userPassword" name="userPassword" autocomplete="new-password" required>
    </div>
    <div class="form-group">
      <label for="userPassword2">{% trans %}new_password_repeat{% endtrans %}</label>
      <input type="password" class="form-control" id="userPassword2" placeholder="" required>
    </div>
    <input type="hidden" name="userUuid" id="userUuid" value="{{ userUuid }}"/>
    <input type="hidden" name="email" id="email" value="{{ email }}"/>
    <input type="hidden" name="token" id="token" value="{{ token }}"/>
    <br>
    <button id="btn_change_password" type="submit" class="btn btn-marron">{% trans %}btn_change_password{% endtrans %}</button>
  </form>
  <br><br>
  </div>
  <div style="display:none" id="password_error_message">{% trans %}register_password_error_message{% endtrans %}</div>
  <div style="display:none" id="passwords_must_match">{% trans %}register_passwords_must_match{% endtrans %}</div>

{% endblock %}