{% extends "prehome_base.html.twig" %}

{% block title %}{% trans %}password_change_result_ok_title{% endtrans %}{% endblock %}

{% block body %}

<div class="container">
{{ message }}<br>
</div>

<hr>

{% endblock %}