{% extends "prehome_base.html.twig" %}

{% block title %}{% trans %}password_change_screen_ko_title{% endtrans %}{% endblock %}

{% block body %}

<div class="container">

{{ message }}

</div>

{% endblock %}