{% extends "prehome_base.html.twig" %}

{% block title %}Drillia{% endblock %}
{% block body %}
<div class="jumbotron jumbo-drillia">
  <h1>{% trans %}welcome_to_drillia{% endtrans %}</h1>
  <p class="lead">{% trans %}welcome_to_drillia_explanation{% endtrans %}</p>
  <hr>
  <p class="lead">
    <a class="btn btn-lg btn-marron" href="#" role="button">{% trans %}btn_know_more{% endtrans %}</a>
    <a class="btn btn-lg btn-marron" href="#" role="button">{% trans %}btn_navigate_without_registering{% endtrans %}</a>
  </p>
</div>
{% endblock %}