{% extends "base.html.twig" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light barra-nav">
  <a class="navbar-brand" href="#"><img src="{{asset('assets/img/logodrillia.png')}}" class="sitelogo">drillia.org</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li>
        <a type="button" class="btn btn-marron" href="{{url('app_login')}}">
          <i class="fa-solid fa-right-to-bracket"></i> {% trans %}btn_login{% endtrans %}
        </a>
        <a type="button" class="btn btn-marron" href="{{url('app_register')}}">
          <i class="fa-solid fa-address-card"></i> {% trans %}btn_register{% endtrans %}
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}