{% extends "prehome_base.html.twig" %}

{% block title %}{% trans %}register_welcome{% endtrans %}{% endblock %}

{% block specific_javascripts %}
        <script src="{{ asset('assets/js/register.js') }}"></script>
{% endblock %}

{% block body %}

<div class="jumbotron jumbo-drillia">
  <div class="container">
    <h2 class="display-4">{% trans %}register_welcome{% endtrans %}</h2>
  </div>
</div>

<div class="container">

{{ message }}
<br><br>
<button>{% trans %}btn_login{% endtrans %}</button>

</div>


{% endblock %}