{% extends "prehome_base.html.twig" %}

{% block title %}{% trans %}register_welcome{% endtrans %}{% endblock %}

{% block specific_javascripts %}
        <script src="{{ asset('assets/js/register.js') }}"></script>
{% endblock %}

{% block body %}

<div class="jumbotron jumbo-drillia">
  <div class="container">
    <h2 class="display-4">{% trans %}register_welcome{% endtrans %}</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">

      <form id="registerForm" action="{{url('register_action')}}" method="POST">
        <input name="f_email" style="display:none" value="" type="email" />
        <input name="f_password" style="display:none" value="" type="password" />
        <div class="form-group">
          <label for="username"><i class="fa-solid fa-user"></i> {% trans %}register_username{% endtrans %}</label>
          <input type="text" class="form-control" id="username" name="username" autocomplete="do-not-autofill" required>
        </div>
        <div class="form-group">
          <label for="userEmail"><i class="fa-solid fa-at"></i> {% trans %}register_email{% endtrans %}</label>
          <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="" required>
        </div>
        <div class="form-group">
          <label for="userPassword"><i class="fa-solid fa-key"></i> {% trans %}register_password{% endtrans %}</label>
          <input type="password" class="form-control" id="userPassword" name="userPassword" autocomplete="new-password" required>
        </div>
        <div class="form-group">
          <label for="userPassword2"><i class="fa-solid fa-repeat"></i> {% trans %}register_repeat_password{% endtrans %}</label>
          <input type="password" class="form-control" id="userPassword2" placeholder="" required>
        </div>
        <div class="form-group">
          <label for="motherTongue"><i class="fa-solid fa-language"></i> {% trans %}register_your_language{% endtrans %}</label>
          <select class="form-control" id="motherTongue" name="motherTongue" required>
            {% for language in languages %}
              <option value="{{language.code}}">{{ language.origName }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="acceptTerms" name="acceptTerms" required>
          <label class="form-check-label" for="acceptTerms">{% trans %}register_i_agree{% endtrans %} <a href="#!">{% trans %}register_terms_of_service{% endtrans %}
          </a></label>
        </div>
        <br>
        <button id="btn_register" type="submit" class="btn btn-marron">{% trans %}btn_register{% endtrans %}</button>
      </form>
      <br><br>

      <div style="display:none" id="username_error_message">{% trans %}register_username_error_message{% endtrans %}</div>
      <div style="display:none" id="password_error_message">{% trans %}register_password_error_message{% endtrans %}</div>
      <div style="display:none" id="passwords_must_match">{% trans %}register_passwords_must_match{% endtrans %}</div>
      <div style="display:none" id="register_error_username_already_exists">{% trans %}register_error_username_already_exists{% endtrans %}</div>
      <div style="display:none" id="register_error_email_already_exists">{% trans %}register_error_email_already_exists{% endtrans %}</div>

   </div>
  </div>
</div>

{% endblock %}